.city__item {
  margin-left: 1rem;
}

.city__item a {
  color: black;
}

.landmark__item {
  margin-left: 1rem;
}

.landmark__item a {
  color: black;
}

.heads__item {
  margin-left: 1rem;
}

.heads__item a {
  color: black;
}

h2 {
  margin-bottom: 0.5rem;
}
