.countries {
  margin: 0;
  padding: 0;
  display: flex;
  margin-top: 2rem;
  border: 2px solid black;
  width: 100%;
  max-width: 100%;
}

.country__item {
  list-style: none;
}

.country__item a {
  text-decoration: none;
  color: #313131;
  font-size: 35px;
  font-family: "Montserrat", sans-serif;
  padding: 2rem 3rem;
}

.country__item a:hover {
  display: flex;
  background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQjIOSpWPGJLcqcLygU6GNXz7nqmnll143SIw&usqp=CAU);
  background-size: contain;
}

.hobbit {
  font-family: "Montserrat", sans-serif;
  margin: 5px;
}
