.countries {
  margin: 0;
  padding: 0;
  display: flex;
  margin-top: 0.5rem;
  border: 2px solid black;
  justify-content: space-between;
}

.country__item {
  list-style: none;
  display: flex;
}

.country__item a {
  text-decoration: none;
  color: #313131;
  font-size: 35px;
  font-family: "Montserrat", sans-serif;
  padding: 2rem 3rem;
}

.hobbit {
  font-family: "Montserrat", sans-serif;
  font-size: 40px;
  display: flex;
  justify-content: center;

}

.ireland {
  display: flex;
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/4/45/Flag_of_Ireland.svg");
  background-size: contain;
}
